[AnimationDefinition (
    default: "idle",
    name: "soldier_default",
    clips: [
        ClipDefinition (
            name: "idle",
            texture: "actors/soldier_default/Idle.png",
            frame_size: (10, 16),
            columns: 6,
            rows: 1,
            fps: 8,
            looping: true,
            freeze: false,
            ),
        ClipDefinition (
            name: "walk",
            texture: "actors/soldier_default/Walk.png",
            frame_size: (64, 64),
            columns: 3,
            rows: 3,
            fps: 8,
            looping: true,
            freeze: false,
            ),
        ClipDefinition (
            name: "run",
            texture: "actors/soldier_default/Run.png",
            frame_size: (10, 17),
            columns: 6,
            rows: 1,
            fps: 8,
            looping: true,
            freeze: false,
            ),
        ],
        
        
    )
]