[
    AnimationDefinition (
    default: "idle",
    name: "soldier_default",
    clips: [
        ClipDefinition (
            name: "idle",
            texture: "actors/soldier_default/Idle.png",
            frame_size: (10, 16),
            columns: 6,
            rows: 1,
            fps: 8,
            looping: true,
            freeze: false,
            ),
        ClipDefinition (
            name: "run",
            texture: "actors/soldier_default/Run.png",
            frame_size: (10, 17),
            columns: 6,
            rows: 1,
            fps: 8,
            looping: true,
            freeze: false,
            ),
        ],
    ),
     AnimationDefinition (
    default: "idle",
    name: "zombie_default",
    clips: [
        ClipDefinition (
            name: "idle",
            texture: "actors/zombie/Idle.png",
            frame_size: (11, 15),
            columns: 6,
            rows: 1,
            fps: 8,
            looping: true,
            freeze: false,
            ),
        ClipDefinition (
            name: "walk",
            texture: "actors/zombie/Walk.png",
            frame_size: (13, 15),
            columns: 6,
            rows: 1,
            fps: 8,
            looping: true,
            freeze: false,
            ),
        ClipDefinition (
            name: "dead",
            texture: "actors/zombie/Death.png",
            frame_size: (16, 15),
            columns: 7,
            rows: 1,
            fps: 4,
            looping: false,
            freeze: false,
            ),
        ClipDefinition (
            name: "attack",
            texture: "actors/zombie/Attack.png",
            frame_size: (11, 14),
            columns: 4,
            rows: 1,
            fps: 6,
            looping: true,
            freeze: false,
            ),
        ],
    ),
    AnimationDefinition (
    default: "idle",
    name: "ak",
    clips: [
        ClipDefinition (
            name: "idle",
            texture: "Gun_Idle.png",
            frame_size: (16, 10),
            columns: 1,
            rows: 1,
            fps: 1,
            looping: false,
            freeze: true,
            )
        ],
    ),
    AnimationDefinition (
    default: "idle",
    name: "pistol",
    clips: [
        ClipDefinition (
            name: "idle",
            texture: "Pistol_idle.png",
            frame_size: (8, 9),
            columns: 1,
            rows: 1,
            fps: 1,
            looping: false,
            freeze: true,
            )
        ],
    )
]